<!-- landing.jsファイルを読み込み -->
<%= stylesheet_link_tag "landing.js" %>

<body>
  <div class="img-responsive top-image jumbotron" style="background-color: #F9F9F9;">
    <h1 class="landing-title">Lavz</h1>
    <h2 class="landing-slogan">
      Share and Manage Protocols<br>in Biological Experiments
    </h2>
  </div>

  <div class="container">
    <div style="margin-bottom: 30px;">
      <div class="buttons" style="text-align: center;">
        <%= link_to "Sign up", signup_path, class: "btn-lg btn-primary" %>
        <%= link_to "log in",  login_path,  class: "btn-lg btn-default" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ol class="microposts">
          <%= render @microposts.first(20) %>
        </ol>
      </div>
    </div>


    <!-- タグ機能ができるまでコメントアウト
    <div class="col-md-4">
      ここにタグが表示される
    </div> -->
  </div>

</body>

<!-- landing.jsファイルを読み込み -->
<%= stylesheet_link_tag "landing.js" %>
