<li id="micropost-<%= micropost.id %>">
  <button class="btn-old-micropost view-protocol">
      <h2 class="title" style="margin: 0px"><%= micropost.content %></h2>
      <h2 class="messageBox" style="margin: 0px">
        <%= User.feed_protocol(micropost.id).first.procedure %>
      </h2>
        <%= image_tag micropost.picture.url if micropost.picture? %>
    <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      <% if current_user?(micropost.user) %>
        <% link_to "delete", micropost, method: :delete, data: { comfirm: "You sure?" } %>
      <% end %>
    </span>
  </button>
</li>
